@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.bg-color-dark-skin {
    background: #DFBCA6;
}

.pt-99 {
    padding-top: 99px;
}

.expolring-heading-text {
    font-family: Ubuntu;
    font-size: 75px;
    font-style: italic;
    font-weight: 300;
    line-height: 97.5px;
    text-align: center;
    color: #FFFFFF;
}

.mx-w-1032 {
    max-width: 1032px;
}

.expolring-heading-text span {
    font-family: Ubuntu;
    font-size: 75px;
    font-weight: 700;
    line-height: 97.5px;
    text-align: center;

}

.min-width-1440 {
    width: 1440px;
}

.contact-us {
    width: 201px;
    height: 73px;
    border-radius: 127px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 500;
    line-height: 22.98px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
}

.background-image-sun {
    background-image: url(/assets/images/png/sun-mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color-dark-brown {
    background-color: #A68272;
    margin-top: -1px;
}

.about-us-button {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    line-height: 20.68px;
    text-align: center;
    width: 110px;
    height: 31px;
    border-radius: 31px;
    border: 1px solid #FFFFFF;
    color: white;
    background: transparent;

}

.max-widht-529 {
    max-width: 529px;
}

.pioneering {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Ubuntu;
    font-size: 64px;
    font-style: italic;
    font-weight: 300;
    line-height: 83.2px;
    text-align: left;
    color: #FFFFFF;

}

.pt-64 {
    padding-top: 64px;
}

.zempeak-paragraph {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 10px;
    max-width: 557px;
}

.max-width-471 {
    max-width: 471px;
}

.pioneering span {
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
    line-height: 83.2px;
    text-align: left;

}

.pb-63 {
    padding-bottom: 63px;
}

.max-width-1144 {
    max-width: 1144px;
}

.lets-together-make {
    max-width: 735px;
    font-family: Ubuntu;
    font-size: 64px;
    font-style: italic;
    font-weight: 300;
    line-height: 83.2px;
    text-align: center;
    color: #5A5656;


}

.pt-139 {
    padding-top: 139px;
}

.lets-together-make span {
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
    line-height: 83.2px;
    text-align: center;

}

.pretinium {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #6E6D6C;
    max-width: 675px;
}

.brown-box {

    border-radius: 16px;
    background: #A68272;
}

.bg-brown-padding {
    padding-bottom: 62px;
    padding-top: 80px;
}

.max-width-481 {
    max-width: 481px;
}

.head-logo {
    padding-top: 99px;
}

.pb-162 {
    padding-bottom: 162px;
}

.institunational {
    font-family: Ubuntu;
    font-size: 64px;
    font-style: italic;
    font-weight: 300;
    line-height: 83.2px;
    text-align: left;
    color: white;
}

.institunational span {
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
    line-height: 83.2px;
    text-align: left;
    color: white;
}

.pulvier {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #E4D9D5;
}

.ml-15 {
    margin-left: 15px;
}

.body-bg-color {
    background-color: #F7F3F0;
}

.bg-star-one {
    position: absolute;
    top: 25%;
    left: 0;
}

.bg-star-two {
    position: absolute;
    top: 25%;
    right: 0;
}

.fermemtum {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #E4D9D5;
}

.Consectetur-sagittis {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.98px;
    text-align: left;
    color: #EDE6E3;
}

.blank-line-white {
    width: 6px;
    height: 92px;
    border-radius: 115px;
    background: #FFFFFF;
}

.max-width-540 {
    max-width: 540px !important;
}

@media (max-width:568px) {

    .contact-us {
        width: 300px;
        height: 63px;
        top: 377px;
        left: 23px;
        border: 1px solid #FFFFFF;
        border-radius: 127px;
    }

    .bg-brown-padding {

        padding-top: 72px;
    }



    .img-one-logo {
        width: 240px;
        height: 49.54px;

    }

    .links {
        margin-left: auto;
        margin-right: auto;
        width: 333px;

        border-radius: 14.;

    }

    .big-text-of-links {
        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 700;
        line-height: 22.98px;
        text-align: left;

    }

    .head-logo {
        padding-top: 57px;
    }
}

.bg-mountain {
    background-image: url(/assets/images/png/bg-mountain-of\ links.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-box-of-links {
    max-width: 838px;
    border-radius: 17px;
    border: 3px solid #A68272;
    background: #FFFFFF;
    padding-top: 38px;
    padding-left: 42px;
    padding-right: 38px;

}

.image-of-links {
    box-shadow: 0px 4px 31.4px 0px #DAAF95;
    border-radius: 17px;

}

.ml-23 {
    margin-left: 23px;
}

.big-text-of-links {
    margin-top: 3px;
    margin-bottom: 9px;
    color: #0C0F26;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.58px;
    text-align: left;

}

.small-text-of-links {
    color: #707070;

    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;


}



.links {
    width: 365px;
    border-radius: 16px;
    border: 1px solid #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 23px;
    background: #FFFFFF;
    margin-bottom: 35px;

}

@media (max-width:768px) {


    .lets-together-make {
        font-family: Ubuntu;
        font-size: 36px;
        font-style: italic;
        font-weight: 300;
        line-height: 46.8px;
        text-align: center;

    }

    .lets-together-make span {
        font-family: Ubuntu;
        font-size: 36px;
        font-weight: 700;
        line-height: 46.8px;
        text-align: center;

    }

    .pretinium {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    .pioneering {
        font-family: Ubuntu;
        font-size: 36px;
        font-style: italic;
        font-weight: 300;
        line-height: 46.8px;
        text-align: center;
    }

    .institunational {
        font-family: Ubuntu;
        font-size: 36px;
        font-style: italic;
        font-weight: 300;
        line-height: 46.8px;
        text-align: left;
    }



    .institunational span {
        font-family: Ubuntu;
        font-size: 36px;
        font-weight: 700;
        line-height: 46.8px;
        text-align: left;
    }

    .zempeak-paragraph {
        text-align: center;
    }

    .pioneering span {
        font-family: Ubuntu;
        font-size: 36px;
        font-weight: 700;
        line-height: 46.8px;
        text-align: center;
    }

    .expolring-heading-text {
        font-family: Ubuntu;
        font-size: 43px;
        font-style: italic;
        font-weight: 300;
        line-height: 55.9px;
        text-align: center;

    }

    .expolring-heading-text span {
        font-family: Ubuntu;
        font-size: 43px;
        font-weight: 700;
        line-height: 55.9px;
        text-align: center;

    }

    .d-flex-max-md {
        display: flex;
        align-items: center;
    }
}

@media (max-width:992px) {
    .bg-box-of-links {
        background: transparent;
        border: none;
        padding: 0 !important;
    }
}